<table class="table table-condensed">
	<tbody>
		<% @search.players.each do |player| %>
		  <tr>
	    	<td width="70"><%= image_tag(player.primary_photo_path, height: '138') %> </td>
		    <td>
					<strong><%= link_to player.name, player_path(player) %></strong> <small>/ <%= player.date_of_birth %> / SP / <%= number_to_currency(player.salary, :precision => 0) %></small>
						<div id="container_<%= player.id %>" style="height: 475px; max-width: 420px; margin: 0 auto"></div>
						<div><small>Data from 2013-2015 seasons; Source: Pitch f/x data</small></div>
						<div><small>[x feet, y feet : probability of <%= params[:outcome] %> for pitches in that location in percentage terms]</small></div>
				</td>
		  </tr>
		  <script>
			<% if player.id = 501957 %>	
				Highcharts.chart('container_501957', {

			    chart: {
			        type: 'heatmap',
			    },


			    title: {
			        text: 'Pitcher Heat Map',
			        align: 'left'
			    },


			    xAxis: {
				    	title: {
			            text: 'Feet from center of home plate'
			        },
			        labels: {

			            
			        },
			        minPadding: 0,
			        maxPadding: 0,

			        tickPositions: [-1.5,-1,-0.5,0,0.5,1,1.5],
			        tickWidth: 0.3,
			        min: -1.5,
			        max: 1.5
			    },

			    yAxis: {
			        title: {
			            text: 'Feet'
			        },
			        labels: {
			            
			        },
			        minPadding: 0,
			        maxPadding: 0,

			        tickPositions: [0, 1, 2, 3, 4, 5],
			        tickWidth: 1,
			        min: 0,
			        max: 5
			    },

			    colorAxis: {
			        stops: [
			            [0, '#3060cf'],
			            [0.5, '#fffbbc'],
			            [0.9, '#c4463a']
			        ],
			        min: 0
			    },

			 	  series: [{
			      borderWidth: 0.5,
			      data: <%= @pitcher1_data %>,
			      colsize: 0.28,
			      rowsize: 0.4,
			      tooltip: {
				    headerFormat: 'Probability ',
				    pointFormat: '{point.value} %'
					}, 
			    }]
				});
				<% end %>
				<% if player.id = 592332 %>
					Highcharts.chart('container_592332', {
					  chart: {
					      type: 'heatmap',
					  },


					  title: {
					      text: "Pitcher Heat Map ",
					      align: 'left'
					  },

					  xAxis: {	    	
						  	title: {
				            text: 'Feet from center of home plate'
				        },
					      labels: {
					          
					      },
					      minPadding: 0,
					      maxPadding: 0,

					      tickPositions: [-1.5,-1,-0.5,0,0.5,1,1.5],
					      tickWidth: 0.3,
					      min: -1.5,
					      max: 1.5
					  },

					  yAxis: {
					      title: {
					          text: 'Feet'
					      },
					      labels: {
					          
					      },
					      minPadding: 0,
					      maxPadding: 0,

					      tickPositions: [0, 1, 2, 3, 4, 5],
					      tickWidth: 1,
					      min: 0,
					      max: 5
					  },

					  colorAxis: {
					      stops: [
					          [0, '#3060cf'],
					          [0.5, '#fffbbc'],
					          [0.9, '#c4463a']
					      ],
					      min: 0
					  },

					  series: [{
					      borderWidth: 0.5,
					      data: <%= @pitcher2_data %>,
					      colsize: 0.28,
					      rowsize: 0.4,
				        tooltip: {
						    headerFormat: 'Probability ',
						    pointFormat: '{point.value} %'
						}, 

					  }]
					});
					<% end %>
			</script>
		<% end %>
	</tbody>
</table>

