<div style="clear:both"></div>
<div class="row">
	<div class ="span4">
	</div>
	<div class="span8">
		<div class="btn-group">
			<div class="dropdown">
			  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			    Position
			  </button>
			  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
			    <% @search.facet_position.each do |position| %>
				    <button class="dropdown-item" type="button"><%= link_to position[:name], position[:url] %></button>
			    <% end %>
			  </div>
			</div>
			<div class="dropdown">
			  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			    Salary
			  </button>
			  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
			    <% @search.facet_salary.each do |salary| %>
				    <button class="dropdown-item" type="button"><%= link_to salary[:label], salary[:url] %></button>
			    <% end %>

	  			<input class="span1" id="fee_low_box" list="fee_options" name="fee_low" placeholder="Min" size="50" style="margin-left:20px; width:95px" type="text"></input>
	  			<input class="span1" id="fee_high_box" list="fee_options2" name="fee_high" placeholder="Max" size="50" style="width:95px" type="text"></input>
			  </div>
			</div>
			<div class="dropdown">
			  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			    Contract
			  </button>
			  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
				<% @search.facet_contract_remaining.each do |years| %>
				    <button class="dropdown-item" type="button"><%= link_to years[:name], years[:url] %></button>
			    <% end %>
			  </div>

			</div>
			<div class="dropdown">
			  <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			    Pitch Outcome
			  </button>
			  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
				<% @search.facet_outcomes.each do |outcome| %>
				    <button class="dropdown-item" type="button"><%= link_to outcome[:label], outcome[:url] %></button>
			    <% end %>
			  </div>
			</div>
		</div>
		<%= render 'results' %>
	</div>
</div>