		<table class="table table-condensed">
			<tbody>
				<% @players.each do |player| %>
				  <tr>
			    	<td width="70"><%= image_tag(player.primary_photo_path, height: '138') %> </td>
				    <td>
							<strong><%= link_to player.name, player %></strong> <small>/ <%= player.date_of_birth %> / Position / Salary</small>
						</td>
				  </tr>
				<% end %>
			</tbody>
		</table>