<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <a class="navbar-brand" href="#"><%= image_tag("orioles_logo.gif", height: '38', width: '38') %>Orioles Analytics Application</a>
  <form class="navbar-form pull-right search-box" role="search">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
      <div class="input-group-btn">
        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
      </div>
    </div>
  </form>
</nav>